.App-machineLearning {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*padding: 6.25em;*/
}

.machineL1 {
  border: solid 3px white;
  padding: 10em;
  border-radius: 15px;
  margin-top: 8.12em;
  width: 60em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dataCanvas, .trainingCanvas, .testingCanvas{
  border: solid 3px white;
  border-radius: 15px;
  padding: 3.248em;
  margin-top: 8.12em;
  margin-bottom: 8.12em; 
}