.poker-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
}

.poker-table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
    background-color: #00ff0033;
    border-radius: 200px;
    width: 600px;
    height: 250px;
}

.Deck{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 70px;
    background-color: #ff000033;
    border-radius: 50px;
}

.poker-card-deck{
    width:100px;
    height: 100px;
}

.poker-card-plr{
    width:40px;
    height: 40px;
}

.poker-card-firstp{
    width:70px;
    height: 70px;
}

.playerProfile{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.playerLogo{
    width: 50px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.playerName{
    color:white;
    background-color: black;
    border-radius: 15px;
    padding: 7px;
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-bottom: 5px;
}

.playerPot{
    color:white;
    font-size: 10px;
}

.playerBet{
    color:white;
    font-size: 10px;
}

.playersBench{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: gray;
    border-radius: 15px;
    padding: 30px 10px;
}

.game-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px;
    border-radius: 50px;
    background-color: #ff000011;
}

.bench-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200px;
}

.control-button{
    background-color: red;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid white;
    cursor: pointer;
}

.name-button{
    background-color: green;
    width: 90px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid white;
    cursor: pointer;
    margin: 20px;
}

.firstPerson{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.playerCards{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.first-p-name{
    border-radius: 15px;
    height: 20px;
    text-align: center;
}