.App-crypto {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.25em;
}

.Crypto-Wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}

.IntroPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff11;
  padding: 50px;
  border-radius: 15px;
  margin: 15px;
  width: 30vw;
  border: solid 2px white;
}

.InformationPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff11;
  padding: 50px;
  border-radius: 15px;
  margin: 15px;
  border: solid 2px white;
}

.CreditCardLogoStyle {
  height: 10vh;
  margin-bottom: 15px;
  border-radius: 50px;
  border: solid white 2px;
  margin: 30px;
}

.TryButton {
  text-decoration: none;
  color: black;
  background-color: yellow;
  padding: 0.5em;
  border: solid 0.125em white;
  font-size: 1em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.125em;
  width: 8.125em;
  cursor: pointer;
}

.formForm {
}

.SubmitButton {
  text-decoration: none;
  color: black;
  background-color: yellow;
  padding: 0.5em;
  border: solid 0.125em white;
  font-size: 1em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.125em;
  width: 14em;
  margin: 30px;
  cursor: pointer;
}

.InputsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.InputsForm input {
  padding: 1.25em;
  border-radius: 1em;
  margin: 0.35em;
  font-family: Arial, Helvetica, sans-serif;
  width: 15em;
}

.CryptoCurrPara1 {
  text-align: center;
  color: yellow;
  margin-bottom: 5vh;
}

.CryptoCurrPara2 {
  text-align: center;
  margin-bottom: 7vh;
}

.GraphicsBackGround {
  border: solid white 3px;
  border-radius: 30px;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cryptoName {
  margin-bottom: 5vh;
  border-radius: 15px;
  text-align: center;
}

.coinGr,
.coinGrSelected {
  background-color: #ffffff11;
  border-radius: 15px;
  padding: 1.5vh 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1vh;
}

.coinGrSelected {
  border: solid 2px red;
}

.coinValueSelected {
  color: #00ff0099;
}

.coinsChart {
  margin-bottom: 5vh;
  width: 50vw;
  height: 50vh;
}

.coinLogo {
  width: 2vw;
  height: 2vw;
}

.coinValue {
  color: white;
  margin-left: 2vw;
}

.graphTitleBar {
  color: white;
  margin-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coinName {
  color: yellow;
  margin-left: 2vw;
  width: 10vw;
}
