.hex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.play-game {
  background-color: #ff0000;
  padding: 0.225em;
  border-radius: 10%;
  border: solid 2px White;
  margin: 0.75em 0em 1.5em 0em;
  cursor: pointer;
  margin-top: 3.248em;
  text-align: center;
}

.FormStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputSpace {
  border-radius: 30em;
  height: 1.5em;
  width: 10em;
  text-align: center;
  margin-bottom: 3.248em;
}

.HexBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.248em 1.5em 6.496em 1.5em;
  border-radius: 15%;
  background-color: black;
  padding: 16.24em 32.48em 16.24em 0em;
}

.WelcomeMsg {
  margin-bottom: 4.872em;
}

.winSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winMsg {
  margin-bottom: 3.248em;
  color: orange;
}

.EmptyHex,
.CornerHex,
.RedHex,
.BlueHex {
  background-color: yellow;
  height: 8.12em;
  width: 8.12em;
  border: solid 2px black;
  cursor: pointer;
  clip-path: polygon(50% 100%, 0% 75%, 0% 25%, 50% 0%, 100% 25%, 100% 75%);
}

.RedHex {
  background-color: red;
}

.BlueHex {
  background-color: blue;
}

.CornerHex {
  background-color: white;
}
