.gomuko-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.BoardLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.BoardTable {
  background-color: rgb(211, 163, 21);
  border-radius: 5%;
  padding: 0.75em 0.75em;
}

.playerChoice,
.playerOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 7.5em;
  margin-bottom: 0.375em;
}

.gameTitle {
  color: yellow;
  margin-bottom: 0.225em;
}

.gameTitleWin {
  color: Orange;
}

.startGame {
  background-color: #ff0000;
  padding: 0.3em;
  border-radius: 10%;
  border: solid 2px white;
  margin-bottom: 0.75em;
  cursor: pointer;
}

.restartGame {
  background-color: #ff0000;
  padding: 0.225em;
  border-radius: 10%;
  border: solid 2px White;
  margin: 0.75em 0em 1.5em 0em;
  cursor: pointer;
}

.playerOption {
  width: 5.25em;
}

.BoardCase {
  background-color: rgb(255, 221, 0);
  margin: 0.6em;
  height: 2.25em;
  width: 2.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  cursor: pointer;
}

.winBoardCase {
  background-color: red;
  margin: 0.6em;
  height: 2.25em;
  width: 2.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}

.BlackPion {
  background-color: black;
  border-radius: 50%;
  height: 1.125em;
  width: 1.125em;
}

.WhitePion {
  background-color: white;
  border-radius: 50%;
  height: 1.125em;
  width: 1.125em;
}

.GomukoTableControls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prevMove {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nextMove {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prevMoveButton {
  height: 5.25em;
  width: 5.25em;
  cursor: pointer;
  margin-right: 1.5em;
}

.nextMoveButton {
  height: 5.25em;
  width: 5.25em;
  cursor: pointer;
  margin-left: 1.5em;
}

.nextMoveLabel {
  margin-left: 1.5em;
  margin-top: -0.75em;
}

.prevMoveLabel {
  margin-right: 1.5em;
  margin-top: -0.75em;
}
