.App-body {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.body-top {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background-color: #FFFF0033;
  border-radius: 25px;
  margin: 30px 30px 15px 30px;
}

.body-bottom {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: #FF000033;
  border-radius: 25px;
  margin: 15px 30px 30px 30px;
}

.skills-area{
  display: flex;
  flex-direction: row;
}

.Exp-List, .Edu-List{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: max-content;
}

.body-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 25px;
  background-color: #FFFFFF33;
}
