.App-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  background-color: #282c3455;
  border-radius: 100% 100% 0% 0%/ 100% 100% 0% 0%;
}

.footer-wrapper {
  padding: 5em 15.625em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logo-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 6.25em;
}

.social-media-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff20;
  border-radius: 0.9375em;
}

.social-media-logo {
  height: 1.25em;
  width: 1.25em;
  margin: 0.625em;
}

.lister-section {
  display: flex;
  flex-direction: row;
}

.lister-item {
  display: flex;
  flex-direction: column;
  padding: 1.875em;
}

.lister-item-list {
  display: flex;
  flex-direction: column;
  padding: 0.625em;
}

.lister-item-title {
  padding: 0.625em;
}

.footer-item {
  padding-bottom: 0.3125em;
  color: #ffffff55;
}

.footer-item-about {
  padding-bottom: 0.3125em;
  color: #ffffff55;
  text-decoration: none;
}

.copyright {
  text-align: center;
  width: max-content;
}

.marouane-logo {
  width: 9.375em;
}
