.ChatBotResponse {
  background-color: #ffffff11;
  text-align: center;
  width: 18.75em;
  padding: 3.248em;
  margin: 3.248em;
  border-radius: 30px;
  word-wrap: break-word;
  white-space: pre-wrap;
}