.App-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .App-blog-history {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 35px;
  }

  .App-blog-mobility {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00FF0011;
    border-radius: 25px;
    margin-bottom: 100px;
  }

  .mobpara{
    padding: 0px 0px 80px 0px;
    width: 900px;
    text-align: center;
    color: white;
  }
  
  .mobility {
    background-color: yellow;
    padding: 15px;
    border: solid 2px white;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 20px;
    width: 200px;
  }
  
  .Capsule {
    height: 300px;
  }
  
  .Moor-logo {
    height: 400px;
    pointer-events: none;
  }
  
  .Yellow-title {
    color: yellow;
    font-size: 30px;
    padding: 50px;
  }

  .Yellow-subtitle{
    color: greenyellow;
    font-size: 15px;
    padding-top: 50px;
  }
  
  .moor-style{
    width: 638px;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Moor-logo {
      animation: Moor-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes Moor-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  