.App-contact {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.25em;
}

.contact-field{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6.25em;
  border-radius: 0.9375em;
}

.map-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 6.25em;
  z-index: 1;
}

.contact-form{
  display: flex;
  flex-direction: column;
  background-color: #FFFF0033;
  padding: 3.125em;
  border-radius: 0.9375em;
  border: solid 0.1875em yellow;
}

.contact-form input, .contact-form textarea {
  padding: 1.25em;
  border-radius: 0.9375em;
  margin: 0.3125em;
  font-family: Arial, Helvetica, sans-serif;
}

.PopUp{
  background-color: #FFFF0099;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 3.125em;
  color:black;
  height: 15.625em;
  width: 21.875em;
  padding: 0.625em;
  position: absolute;
  z-index: 2;
  align-items: center;
  padding-top: 1.875em;
}

.closePopUp{
  border-radius: 0.3125em;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.closePopUp button{
  background-color: #FF000099;
  border-radius: 0.3125em;
  color: white;
  z-index: 3;
}

.MsgPopUp{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25em;
  color: Orange;
  z-index: 3;
  background-color: #0000FF55;
  padding: 3.125em;
  border-radius: 0.9375em;
  font-weight: 700;
}

.popup-success-img{
  width: 3.125em;
}

.submitSendMsg{
  background-color: "yellow";
  width: "12.5em";
  margin: "auto";
  margin-top: "1.25em";
  border: "solid 0.1875em white";
  color: "black";
  padding: "0.625em";
}

.MsgTextArea{
  height: "12.5em";
}

.h1Contact{
  margin-left: "0.625em";
  color: "yellow";
}