.fam-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.img-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fam-tree{
    width: 500px;
    border-radius: 20px;
    border: solid 2px white;
    padding: 10px;
}

.fam-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px 0px 0px;
    text-align: center;
}
  
.moorparag{
    color:white;
    font-size: 20px;
    width: 500px;
}
  
.moorbutton{
    text-decoration: none;
    color: green;
    background-color: red;
    padding: 15px;
    border: solid 2px white;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 20px;
    width: 130px;
}