.fam-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.125em;
}

.img-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fam-tree{
    width: 31.25em;
    border-radius: 1.25em;
    border: solid 0.125em white;
    padding: 0.625em;
}

.fam-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.75em 0em 0em 0em;
    text-align: center;
}
  
.moorparag{
    color:white;
    font-size: 1.25em;
    width: 46.875em;
}
  
.moorbutton{
    text-decoration: none;
    color: green;
    background-color: red;
    padding: 0.9375em;
    border: solid 0.125em white;
    font-size: 1.25em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3.125em;
    height: 1.25em;
    width: 8.125em;
}