.imgCar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.125em;
  margin-left: 3.125em;
}

.imgCar-images-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.leftArrow {
  margin: 0em -3.125em 0em 0em;
  width: 4.375em;
  cursor: pointer;
}

.rightArrow {
  margin: 0em 0em 0em -3.125em;
  width: 4.375em;
  cursor: pointer;
}

.imgCar-images {
  height: 12.5em;
  width: 18.75em;
  margin: 0.3125em;
}

.imgCar-titles {
  color: white;
}

.switchButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.25em;
  cursor: pointer;
}

.switchDot,
.activeswitchDot {
  height: 0.625em;
  width: 0.625em;
  background-color: #ffffff33;
  border-radius: 3.125em;
  margin: 0.3125em;
}

.activeswitchDot {
  background-color: white;
}

.swleft,
.swright {
  background-color: #585858;
  color: white;
  border: solid 0.0625em;
  border-radius: 0.3125em;
}

.imgCar-images-about {
  width: 12.5em;
  height: 6.25em;
}

.imgCar-wrapper-about {
  padding: 0em;
}
