.Marquee {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.MarqueeCards {
  display: flex;
  flex-shrink: 0;
  gap: 5em;
  min-width: 100%;
  justify-content: space-around;
}