.path-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.125em;
}

.path-img {
  position: relative;
}

.stopBulletSpace {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stopBullet {
  background-color: yellow;
  border: 0.25em solid #61dafb;;
  height: 1em;
  width: 1em;
  border-radius: 3.125em;
  display: none;
}

.stop0 {
  left: 4.6875em;
  top: 5.0625em;
}

.stop1 {
  left: 10.375em;
  top: 8.625em;
}

.stop2 {
  left: 14.625em;
  top: 14.125em;
}

.stop3 {
  left: 19.9375em;
  top: 11.125em;
}

.stop4 {
  left: 26.9375em;
  top: 6.375em;
}

.stop5 {
  left: 25.9375em;
  top: 13.125em;
}

.stop6 {
  left: 18.25em;
  top: 20.3125em;
}

.stop7 {
  left: 26.3125em;
  top: 21.875em;
}

.stop8 {
  left: 32.875em;
  top: 16.625em;
}

.stop0,
.stop1,
.stop2,
.stop3,
.stop4,
.stop5,
.stop6,
.stop7,
.stop8 {
  position: absolute;
  height: 0.625em;
  width: 0.625em;
  border-radius: 3.125em;
  font-size: 0em;
}

.stop0:hover,
.stop1:hover,
.stop2:hover,
.stop3:hover,
.stop4:hover,
.stop5:hover,
.stop6:hover,
.stop7:hover,
.stop8:hover {
  height: 6.25em;
  width: 6.25em;
  border-radius: 0.9375em;
  background-color: #00FF0013;
  font-size: 0.9375em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.125em;
  color: white;
}

.stop0:hover .stopBullet,
.stop1:hover .stopBullet,
.stop2:hover .stopBullet,
.stop3:hover .stopBullet,
.stop4:hover .stopBullet,
.stop5:hover .stopBullet,
.stop6:hover .stopBullet,
.stop7:hover .stopBullet,
.stop8:hover .stopBullet {
  display: block;
}
