.App-portfolio {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.25em;
}

.port-title {
  padding-bottom: 2.5em;
}

.Ai-part {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 6.25em;
  background-color: #ffffff11;
  border-radius: 3em;
  margin-bottom: 3em;
}

.Poker-part {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 6.25em;
  background-color: #ffffff11;
  border-radius: 3.125em;
}

.ai-section {
  background-color: black;
  padding: 3em;
  border-radius: 6.25em;
  display: flex;
  flex-direction: column;
  border: 0.3em solid white; 
  margin: 0px 0em 0em 3em;
  width: 40em;
}

.ai-prompt-section {
  background-color: #ffffff;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 35em;
  padding-right: 4em;
  margin-bottom: 2em;
}

.aiInput {
  background-color: transparent;
  border: none;
  outline: none;
  overflow: hidden;
  color: black;
  height: 1em;
  width: 13em;
  resize: none;
  font-size: 1.5em;
  margin-left: 2em;
  margin-right: 4em;
  margin-bottom: 0.2em;
}

.ai-buttons,
.ai-buttons-ready {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 10em;
  cursor: pointer;
  padding-left: 4em;
}

.ai-buttons-ready {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  width: 10em;
  padding-left: 0em;
}

.ai-image {
  width: 1.875em;
}

.ai-audio {
  width: 3.75em;
}

.ai-answer {
  width: 1.875em;
}

.aiBot-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding: 0em 0em 2em 0em;
}

.sidebar-section,
.sidebar-section-ext {
  background-color: #ff000099;
  display: flex;
  flex-direction: column;
  border-radius: 1em 1em 6.25em 6.25em;
  width: 9.375em;
  padding-top: 3.125em;
  border: 0.3em solid white;  
}

.sidebar-section-ext {
  width: 18.75em;
  padding-top: 0em;
}

.ext-img {
  width: 3.75em;
  padding-top: 0.2em;
  cursor: pointer;
}

.history-wrapper1,
.history-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2.5em 0em 0em 0em;
}

.history-wrapper2 {
  padding: 1.875em 0em 0em 0em;
}


.history-title {
  color: white;
  font-size: 1em;
}

.history-title2 {
  font-size: 1.25em;
  margin-right: 1em;
  color: white;
}

.myimglogo{
  width: 5em;
  margin-left: 3em;
}