@import-normalize;

@media only screen and (device-width: 375px) and (device-height: 812px) and (orientation: portrait) {
  /* Styles for iPhone X in portrait mode */
  body {
    font-size: 5px; /* Adjust font size for iPhone X */
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, #282c34 0%, black 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
